body, html
    line-height 1
    font-weight 200
    font-family "微软雅黑",'PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue','Helvetica',Arial,sans-serif
    background-color #fbf9fe
    height: 100%
    width: 100%
    overflow-x: hidden
