body, html 
    line-height 1
    font-weight 200
    font-family 'PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue','Helvetica',"微软雅黑",Arial,sans-serif
    background-color #fbf9fe
    height: 100%
    width: 100%
    overflow-x: hidden